* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --purple-color: #9694FD;
    --orange-color: #F87D39;
    --gray-color: #6D6D6D;
    --white-color: #ffffff;
    --font-h1: 4rem;
    --font-h2: 2.75rem;
    --font-h3: 2.2rem;
    --font-btn: 1.25rem;
    --font-p: 1rem;
}

@media screen and (min-width: 965px) {
    :root {
        --font-h1: 5rem;
        --font-h2: 3.25rem;
        --font-h3: 2.75rem;
        --font-btn: 1.5rem;
        --font-p: 1.25rem;
    }
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

p {
    font-size: var(--font-p);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.btn {
    padding: 20px 30px;
    background-color: var(--gray-color);
    border-radius: 12px;
    font-size: var(--font-btn);
    color: var(--white-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.btn:hover {
    color: black;
    background-color: var(--orange-color);
    transition: 0.3s;
}

.btn:active {
    box-shadow: none;
    transition: 0.1s;
}

/* Nav */
header {
    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    height: 6em;
    padding: 1em;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: var(--white-color);
    text-align: center;
    padding: 2px;
    transition: 0.3s;
}

.nav-link {
    color: black;
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--orange-color);
}

.burger {
    display: none;
    cursor: pointer;
}

.bar {
    z-index: 3;
    display: block;
    width: 30px;
    height: 4px;
    margin: 0.5em auto;
    -webkit-transform: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.burger {
    display: block;
}

.burger.active .bar:nth-child(2) {
    opacity: 0;
}

.burger.active .bar:nth-child(1) {
    transform: translateY(16px) rotate(45deg);
}

.burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    top: 100px;
}

@media screen and (min-width: 965px){
    .logo {
        z-index: 3;
    }

    .burger {
        display: none;
    }

    .nav-menu {
        z-index: 0;
        position: relative;
        top: 0;
        flex-direction: row;
        background-color: transparent;
        justify-content: flex-end;
        gap: 5em;
    }
}

/* home */
#home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.profile-back {
    display: flex;
    justify-content: center;
}

.profile-img {
    max-width: 15em;
}

.home-title {
    font-weight: normal;
}

.name {
    color: var(--purple-color);
}

.triangle {
    position: absolute;
    z-index: -1;
    max-width: 30em;
    height: 260px;
}

.resume-btn {
    margin: 70px;
}

.learn-about-link {
   margin-bottom: 70px;
}

.multi-text {
    font-weight: bold;
    color: var(--orange-color);
}

/* about */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.about-img {
    width: 90%;
    height: 20em;
    margin: 40px;
    object-fit: cover;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}

.view-work-btn {
    margin: 40px;
}

/* Footer */
footer {
    background-color: #3F3D94;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.footer-icon a {
    font-size: var(--font-h3);
    color: white;
}

.footer-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
