* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --purple-color: #8583e4;
    --orange-color: #f3712c;
    --gray-color: #6D6D6D;
    --white-color: #ffffff;
    --font-h1: 2.5rem;
    --font-h2: 2rem;
    --font-h3: 1.5rem;
    --font-btn: 1rem;
    --font-p: 0.75rem;
}

@media screen and (min-width: 965px) {
    :root {
        --font-h1: 5rem;
        --font-h2: 3.25rem;
        --font-h3: 2.75rem;
        --font-btn: 1.5rem;
        --font-p: 1.25rem;
    }
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

p {
    font-size: var(--font-p);
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.btn {
    padding: 20px 40px;
    background-color: var(--gray-color);
    border-radius: 12px;
    font-size: var(--font-btn);
    color: var(--white-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    color: black;
    background-color: var(--orange-color);
    transition: 0.3s;
}

.btn:active {
    box-shadow: none;
    transition: 0.1s;
}

.skip a{
    position: absolute;
    top: -40px;
    transition: 0.2s;
    background-color: var(--orange-color);
    color: black;

}

.skip a:focus {
    position: absolute;
    top: 100px;
    transition: 0.3s;
}


/* Nav */
header {
    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    height: 6em;
    padding: 1em;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: var(--white-color);
    text-align: center;
    padding: 2px;
    transition: 0.3s;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: black;
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--orange-color);
}

.line {
    background-color: var(--orange-color);
    padding: 5px 20px;
    border-radius: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.bar {
    z-index: 3;
    display: block;
    width: 30px;
    height: 4px;
    margin: 0.5em auto;
    -webkit-transform: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.burger {
    display: block;
}

.burger.active .bar:nth-child(2) {
    opacity: 0;
}

.burger.active .bar:nth-child(1) {
    transform: translateY(16px) rotate(45deg);
}

.burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    top: 100px;
}

@media screen and (min-width: 700px) {
    .nav-menu {
        width: 30%;
        right: -100%;
        top: 70px;
        left: 100%;
        border-radius: 15px;
        box-shadow: 0 10px 10px rgba(137, 137, 137, 0.5);
    }

    .nav-menu.active {
        left: 70%;
    }
}

@media screen and (min-width: 965px){
    .line {
        border-radius: 15px;
        padding: 0 10px;
        display: block;
        height: 4px;
        border: solid var(--orange-color) 2px;
    }

    .logo {
        z-index: 3;
    }

    .burger {
        display: none;
    }

    .nav-menu {
        box-shadow: none;
        left: 0;
        z-index: 0;
        position: relative;
        top: 0;
        flex-direction: row;
        background-color: transparent;
        justify-content: flex-end;
        gap: 5em;
    }
}

/* home */
#home {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.profile {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.profile-back {
    display: flex;
    justify-content: center;
}

.profile-img {
    max-width: 12em;
}

.home-title {
    font-weight: normal;
}

.name {
    font-weight: 800;
    color: var(--purple-color);
}

.triangle {
    position: absolute;
    z-index: -1;
    max-height: 13em;
}

.resume-btn {
    margin: 2.5em;
}

.learn-about-link {
   margin-bottom: 70px;
}

.multi-text {
    text-transform: capitalize;
    font-weight: 800;
    color: var(--orange-color);
}

.home-title-container {
    text-align: center;
}

.home-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* about */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.about-img {
    width: 90%;
    height: 20em;
    margin: 40px;
    object-fit: cover;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}

.view-work-btn {
    display: flex;
    justify-content: center;
    margin: 4em auto;
}

/* .dots-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}  

.dot {
    position: fixed;
    background-color: rgba(248, 125, 58, 0.7);
    border-radius: 50%;
    animation: dots 10s infinite;
} */
  

@media screen and (min-width: 965px) {
    /* home */
    #home {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
    }

    .home-title-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-title {
        width: 8em;
        text-align: start;
    }

    .home-link {
        align-items: flex-start;
        width: 100%;
        margin: 3em 0;
    }

    .resume-btn {
        margin: 0;
        width: 10em;
    }

    .learn-about-link {
        margin-top: 3em;
    }

    /* about */
    #about {
        width: 70%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        margin: auto;
    }

    .about-1, .about-p2 {
        grid-column: 1 / 2;
    }

    .about-2, .about-p1 {
        grid-column: 2 / 3;
    }

    .about-1, .about-p1 {
        grid-row: 1 / 2;
    }

    .about-2, .about-p2 {
        grid-row: 2 / 3;
    }

    .about-img, .about-p {
        margin: 10px;
    }
}

 /* Work */
.work-page-title {
    display: block;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.work-portfolio {
    font-weight: bold;
    color: var(--orange-color);
}

.project {
    margin: 50px;
    padding: 1em;
    height: 22em;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    color: black;
}

.project:hover {
    scale: 1.1;
    transition: 0.1s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.project:active {
    box-shadow: none;
    transition: 0.1s;
    color: inherit;
}

.project:nth-child(odd) {
    background-color: var(--purple-color);
}

.project:nth-child(even) {
    background-color: var(--orange-color);
}

.project-img {
    background-color: white;
    max-height: 50%;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    padding: 1em;
}

.project-title {
    margin: 0.3em 0;
    font-size: var(--font-h3);
}

.project-describtion {
    overflow: auto;
}

@media screen and (min-width: 965px) {
    .all-project {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .project {
        width: 25%;
    }
}

/* Contact */
.contact-page-whole {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact-page {
    margin: 5%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-item {
    margin: 0.5em 0;
}

.contact-item input {
    width: 100%;
    height: 3em;
}

.contact-item textarea {
    width: 100%;
    height: 20em;
}

input, textarea {
    margin-top: 5px;
}

label[for="input-field"]::after {
    content: " *";
    color: red;
}

input[required]::after {
    content: "*";
    color: red;
    position: relative;
}

.send-btn {
    width: 100px;
    padding: 1em;
    color: white;
    background-color: var(--gray-color);
    border-radius: 10px;
    font-size: var(--font-btn);
    font-weight: bold;
    transition: 0.3s;
}

.send-btn:hover {
    color: black;
    background-color: var(--orange-color);
    transition: 0.3s;
}

.map {
    width: 90%;
}

@media screen and (min-width: 965px) {
    #contact-page {
        display: flex;
        flex-direction: row;
    }

    .map {
        width: 40%;
        height: 90%;
    }
}


/* Footer */
footer {
    background-color: #3F3D94;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.footer-icon a {
    font-size: var(--font-h3);
    color: white;
}

.footer-icon a:hover {
    color: #bababa;
    transition: 0.5s;
}

.footer-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Project Pages */
.project-ind-img {
    max-height: 10em;
    padding: 1em;
    background-color: var(--purple-color);
    border-radius: 15px;
}

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.project-title {
    text-align: center;
}

.project-btn-list {
    display: flex;
    flex-direction: column;
    height: 15em;
    justify-content: space-evenly;
}

.project-task-list {
    margin-top: 1em;
    align-self: flex-start;
}

.project-task-list li{
    list-style: circle;
}

#website-project .project-ind-img, #uevent-project .project-ind-img, #pg-project .project-ind-img, #gd-project .project-ind-img{
    background-color: var(--orange-color);
}

.project-gallery {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: dense;
}

.project-gallery img {
    width: 20em;
    height: 20em;
    object-fit: cover;
    border: solid 5px var(--gray-color);
    transition: 0.3s;
}

.project-gallery img:hover {
    scale: 1.1;
    transition: 0.3s;
}

@media screen and (min-width: 965px) {
    .project-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
    }
}

